<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_short"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".ActivityChooserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ShortLinkMakerActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DeepLinkActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "app://foss.zip.offline.browser.offlinezipbrowser/action/” -->
                <!-- Debug: Accepts URIs that begin with "app://foss.zip.offline.browser.offlinezipbrowser.debug/action/” -->
                <data android:scheme="app"
                    android:host="@string/package_name"
                    android:pathPrefix="/action"/>
                <data android:scheme="app"
                    android:host="@string/package_name"
                    android:pathPrefix="/play"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ZipViewActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".HtmlViewActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".LicenseActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".RenameImporterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="text/html"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>
    </application>

</manifest>